@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body  {
    background-color: rgb(184, 178, 178);
    -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
}


.nav-item {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
    padding: 30px 5px; 
    margin-left: 70px; 
    display: inline-block;
}

.line {
    width: 90%;
    height: 2px;
    background-color: #000000;
    margin: -20px auto; 
    display: block; 
}

.header_line {
    display: flex; 
}

.header-logo {
    padding: 5px;
    margin-left: 70px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.balenciaga {
    margin-left: 100px; 
    margin-top: 100px;
    border-radius: 4px;
    width: 400px;
    height: 520px;
}

.rick_owens {
    margin-top: 180px;
    margin-left: 550px; 
    border-radius: 4px;
    width: 400px;
    height: 520px;  
}

.maison_margiela {
    margin-top: 180px;
    margin-left: 1000px; 
    border-radius: 4px;
    width: 400px;
    height: 520px;
}


.balenciaga_text {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.rick_owens_text {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 500; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -700px;
}

.maison_margiela_text {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 500; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -700px;
}

.comme_des_garsons {
    margin-left: 100px; 
    margin-top: 990px;
    border-radius: 4px;
    width: 400px;
    height: 520px; 
}

.cav_empt {
    margin-top: 180px;
    margin-left: 550px; 
    border-radius: 4px;
    width: 400px;
    height: 520px;  
}

.maison_mihara {
    margin-top: 180px;
    margin-left: 1000px; 
    border-radius: 4px;
    width: 400px;
    height: 520px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 500;
    margin-top: 500px;
   
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    overflow: hidden;
}
  
.wrapper img {
    transition: scale 400ms;
}
  
.wrapper:hover img {
    scale: 110%;
}

.container {
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
    text-align: center;
    margin-top: 0px; 
}

.container.show {
    opacity: 1; /* Текст становится видимым */
}

.container_2 {
    opacity: 0; 
    transition: opacity 1.5s ease-in-out; 
    text-align: center;
    margin-top: 0px; 
}

.container_2.show {
    opacity: 1; /* Текст становится видимым */
}

.container_3 {
    margin-top: 80x;
    background-color: #f9e4e4;
    width: 100%;
    height: 50px;

}

h3 {
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 100px
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-left: -600px;
    margin-top: 200px
}

.text {
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin-top: 200px
}

.foto {
    margin-top: -410px;
    margin-left: 800px;
}